<html>

<head>
	<meta name='viewport' content='user-scalable=0' />
	<link rel="shortcut icon" type="image/png" href="{{ url_for('static',filename='images/icon-192.png') }}"/>


	<link rel="manifest" href="{{ url_for('static',filename='manifest.json') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='style/style.css') }}">

	<script type="text/javascript" charset="utf-8">		
		const userId = localStorage.getItem("userId");
		if (userId) {
			window.location.href = `/projectlist`;
		} else {
			window.location.href = `/login`;
		}
	</script>

</head>

<body>
</body>

</html>