<html>

<head>
	<meta name='viewport' content='user-scalable=0' />
	<link rel="shortcut icon" type="image/png" href="{{ url_for('static',filename='images/icon-192.png') }}"/>


	<link rel="manifest" href="{{ url_for('static',filename='manifest/manifest.json') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='style/style.css') }}">

	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

	<!-- TODO without the next line it is not possible to call functions on localhost -->
	<script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>

	<!--My scripts-->
	<script type="text/javascript" charset="utf-8">
		// Empty script area for testing stufff

		function login() {
			userid = document.getElementById("useridInput").value;
			alert("logging in with: " + userid);
			
			window.location.href = `/${userid}`;
		}
	</script>

</head>

<body>
	<input id="useridInput" />
	<button onclick="login()">Login</button>
</body>

</html>