<html>

<head>
	<meta name='viewport' content='user-scalable=0' />
	<link rel="shortcut icon" type="image/png" href="{{ url_for('static',filename='images/icon-192.png') }}"/>


	<link rel="manifest" href="{{ url_for('static',filename='manifest.json') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='style/style.css') }}">

	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

	<!-- TODO without the next line it is not possible to call functions on localhost -->
	<script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>

	<!--My scripts-->
	<script type="text/javascript" charset="utf-8">
		// Empty script area for testing stufff

		function login() {
			makePostRequest("login", (data) => {
				const error = data["error"];
				if (error) {
					alert(data["errorMessage"]);
				} else {
					const userId = data["userId"];
					localStorage.setItem("userId", userId);
					window.location.href = `/projectlist`;
				}
			});
		}

		function register() {
			makePostRequest("register", (data) => {
				const error = data["error"];
				if (error) {
					alert(data["errorMessage"]);
				} else {
					const userId = data["userId"];
					localStorage.setItem("userId", userId);
					window.location.href = `/projectlist`;
				}
			});
		}

		function makePostRequest(type, callback) {
			var xhr = new XMLHttpRequest();
			const isAsync = true;
			xhr.open("POST", "/post", isAsync);
			xhr.setRequestHeader('Content-Type', 'application/json');

			const requestData = JSON.stringify({
				type: type,
				username: document.getElementById("username").value,
				password: document.getElementById("password").value
			});

			const response = xhr.send(requestData);

			xhr.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {					
					const data = JSON.parse(xhr.responseText);
					callback(data);					
				}
			}
		}
	</script>

</head>

<body>
	<input type="text" id="username" value="testuser1"/>
	<input type="password" id="password" value="passwd"/>
	<button onclick="login()">Login</button>
	<button onclick="register()">Register</button>
</body>

</html>