<html>

<head>
	<meta name='viewport' content='user-scalable=0' />
	<link rel="shortcut icon" type="image/png" href="{{ url_for('static',filename='images/icon-192.png') }}"/>

	<link rel="manifest" href="{{ url_for('static',filename='manifest/manifest.json') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='style/style.css') }}">

	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

	<!-- TODO without the next line it is not possible to call functions on localhost -->
	<script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>

	<!--My scripts-->
	<script type="text/javascript" charset="utf-8">
		const userId = localStorage.getItem("userId");

		function show_project(projectname) {
			window.location.href = `/project/${projectname}`;
		}

		function onLoad() {
			make_post_request("get_project_list", (projects) => {
				const buttonContainer = document.getElementById("projectlist");
				for (let projectname of projects) {
					const button = document.createElement("button");					
					button.onclick = () => { show_project(projectname) };
					button.innerHTML = projectname;
					buttonContainer.appendChild(button);
				}
			});
		}

		function make_post_request(type, callback) {
			var xhr = new XMLHttpRequest();
			const isAsync = true;
			xhr.open("POST", "/post", isAsync);
			xhr.setRequestHeader('Content-Type', 'application/json');
			const requestData = JSON.stringify({
				type: type,
				userId: userId
			});
			const response = xhr.send(requestData);

			xhr.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					const data = JSON.parse(xhr.responseText)
					callback(data["projects"]);
				}
			}
		}
	</script>

</head>

<body onload="onLoad()">
	<p>Project list:</p>
	<div id="projectlist"></div>
</body>

</html>